<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomatedBartender.Properties.Settings.BartenderConnectionString"
            connectionString="user id=External; password=mattsucks;server=72.49.95.137; Trusted_Connection=false; database=Bartender; connection timeout=10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>