<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomatedBartender.Properties.Settings.BartenderConnectionString"
            connectionString="Data Source=WELCH2400\SQLEXPRESS;Initial Catalog=Bartender;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>