<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomatedBartender.Properties.Settings.BartenderConnectionString"
            connectionString="user id=Matt-VAIO\Work; password=Z;server=localhost; Trusted_Connection=true; database=Bartender; connection timeout=10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>